/* Ad styles */

[data-ethical-ad-publisher] {
  background: #f0f0e0;
  font-family: monospace;
  margin: 1rem;
  padding: 1rem;
}

[data-ethical-ad-type="readthedocs-sidebar"] {
  background: red;
}
