.container {
  padding-top: 1em;
  padding-bottom: 1em;
}

.container.row {
  display: flex;
  margin-bottom: 1em;
}

.container.dark {
  background: #443;
}

@media (prefers-color-scheme: dark) {
  .container.adaptive {
    background: #443;
  }

  html.auto .container.adaptive-css,
  body.auto .container.adaptive-css,
  html.system .container.adaptive-css,
  body.system .container.adaptive-css,
  html[data-theme="auto"] .container.adaptive-css,
  body[data-theme="auto"] .container.adaptive-css,
  html[data-bs-theme="auto"] .container.adaptive-css,
  body[data-bs-theme="auto"] .container.adaptive-css {
    background: #443;
  }
}

html.dark .container.adaptive-css,
body.dark .container.adaptive-css,
html[data-theme="dark"] .container.adaptive-css,
body[data-theme="dark"] .container.adaptive-css,
html[data-bs-theme="dark"] .container.adaptive-css,
body[data-bs-theme="dark"] .container.adaptive-css {
  background: #443;
}

.container.row .container.column {
  text-align: center;
  flex: 1;
}

.container.row .container.left {
  flex: 3;
}
.container.row .container.right {
  flex: 2;
  text-align: right;
}

.container.row .container.column p:first-child {
  margin-bottom: 0.25em;
}
